.app {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.app__column {
  display: flex;
  align-items: center;
  margin-bottom: rem($grid-gutter-width);

  &:last-child {
    margin-bottom: 0;
  }

  &--slider {
    min-width: rem(228px);
    justify-content: center;
  }

  @include media-breakpoint-up(md) {
    width: calc(100% / 3);
  }
}

.app__download-apps {
  margin: auto;
}
