.apps {

}

.apps__list {
  @include clear-list();

  display: flex;
}

.apps__item {
  margin-right: rem(16);

  &:last-child {
    margin-right: 0;
  }
}

.apps__link {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: $black-color;
  border-radius: $border-radius;
  transition: $duration;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.apps__image {
  vertical-align: middle;
  width: rem(100);
}
