.site-nav {
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-grow: 1;
  }
}

.site-nav__list {
  @include clear-list();

  display: flex;
  flex-grow: 1;
  font-size: rem(16);
  letter-spacing: 0;

  li {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0 rem(5);
    text-decoration: none;
    text-align: center;
    border: none;
    transition: $duration;
    color: $white-color;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $white-color;
    }
  }

  .current-menu-item a {
    // background-color: $accent-color;
    // cursor: default;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.site-nav__toggle {
  padding: 0;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  color: $white-color;
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.site-nav__toggle-icon {
  vertical-align: middle;
  fill: currentColor;
}
