.tabs-tarifs__menu {
  @include clear-list();

  position: relative;
  display: flex;
  margin-bottom: rem($grid-gutter-width);
  font-weight: 500;
  font-size: rem($font-size--smaller);
  font-family: $secondary-font;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid $gray-color-245;
  border-radius: 100px;

  @include media-breakpoint-down(xs) {
    font-size: rem(10);
    border: none;
  }

  @include media-breakpoint-up(lg) {
    margin-left: rem(-$grid-gutter-width / 2);
    margin-right: rem(-$grid-gutter-width / 2);
  }

  @include media-breakpoint-up(xl) {
    margin-left: rem(-$grid-gutter-width);
    margin-right: rem(-$grid-gutter-width);
  }
}

.tabs-tarifs__item {
  flex-grow: 1;

  &:first-child {
    border-radius: 100px 0 0 100px;
  }

  &:last-child {
    border-radius: 0 100px 100px 0;
  }

  &:last-child {
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 14px;
      height: 14px;
      background-color: $white-color;
      border: 4px solid $gray-color-245;
      border-radius: 50%;
      box-sizing: border-box;
      transition-property: left;
      will-change: left;
    }

    &::before {
      top: 0;
      transform: translateY(-50%);
      transition-duration: ($duration * 4);
    }

    &::after {
      bottom: 0;
      transform: translateY(50%);
      transition-duration: ($duration * 5);
      transition-delay: ($duration / 2);
    }
  }

  &--disabled {
    pointer-events: none;
  }

  @include media-breakpoint-down(xs) {
    &:last-child {
      &::before,
      &::after {
        content: none;
      }
    }
  }
}

.tabs-tarifs__link {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  color: $base-color;
  transition: $duration;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  .tabs-tarifs__item--disabled & {
    color: $muted-color;
  }

  @include media-breakpoint-down(xs) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 50px;
      height: 50px;
      margin: auto;
      background-color: $gray-color-245;
      border-radius: 50%;
      transform: scale(0);
      transition: transform $duration;
    }

    & > * {
      position: relative;
    }
  }
}

.tabs-tarifs__item:first-child .tabs-tarifs__link {
  border-radius: 100px 0 0 100px;
}

.tabs-tarifs__item:last-child .tabs-tarifs__link {
  border-radius: 0 100px 100px 0;
}

.active .tabs-tarifs__link {
  color: $accent-color;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @include media-breakpoint-down(xs) {
    &::before {
      transform: scale(1.5);
    }
  }
}

@include media-breakpoint-up(sm) {
  .tabs-tarifs__item:nth-child(1).active ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 10%;
    }

    &::after {
      left: 11%;
    }
  }

  .tabs-tarifs__item:nth-child(2).active ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 32%;
    }

    &::after {
      left: 29%;
    }
  }

  .tabs-tarifs__item:nth-child(3).active ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 53%;
    }

    &::after {
      left: 50%;
    }
  }

  .tabs-tarifs__item:nth-child(4).active ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 71%;
    }

    &::after {
      left: 68%;
    }
  }

  .tabs-tarifs__item:nth-child(5).active:last-child {
    &::before {
      left: 90%;
    }

    &::after {
      left: 93%;
    }
  }

  .tabs-tarifs__item:nth-child(1):hover ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 10%;
    }

    &::after {
      left: 11%;
    }
  }

  .tabs-tarifs__item:nth-child(2):hover ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 32%;
    }

    &::after {
      left: 29%;
    }
  }

  .tabs-tarifs__item:nth-child(3):hover ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 53%;
    }

    &::after {
      left: 50%;
    }
  }

  .tabs-tarifs__item:nth-child(4):hover ~ .tabs-tarifs__item:last-child {
    &::before {
      left: 71%;
    }

    &::after {
      left: 68%;
    }
  }

  .tabs-tarifs__item:nth-child(5):hover.tabs-tarifs__item:last-child {
    &::before {
      left: 90%;
    }

    &::after {
      left: 93%;
    }
  }
}

.tabs-tarifs__icon {
  max-width: 100%;
  height: auto;
  fill: currentColor;

  @include media-breakpoint-down(xs) {
    width: rem(48px);
  }
}

.tabs-tarifs__label {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.tabs-tarifs__pane {
  @include make-textual();
}

.tabs-tarifs__pane-title {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;

  @include media-breakpoint-up(sm) {
    @include visuallyhidden();
  }
}
