.tabs-tarifs {

}

.tabs-tarifs__menu {
  @include clear-list();

  position: relative;
  display: flex;
  margin-bottom: rem($grid-gutter-width);
  font-weight: 500;
  font-size: rem($font-size--smaller);
  font-family: $secondary-font;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid $gray-color-245;
  border-radius: 100px;

  @include media-breakpoint-down(xs) {
    font-size: rem(10);
  }
}

.tabs-tarifs__item {
  flex-grow: 1;

  &:first-child {
    border-radius: 100px 0 0 100px;
  }

  &:last-child {
    border-radius: 0 100px 100px 0;
  }

  &:last-child {
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 14px;
      height: 14px;
      background-color: $white-color;
      border: 4px solid $gray-color-245;
      border-radius: 50%;
      box-sizing: border-box;
      transition-property: left;
      will-change: left;
    }

    &::before {
      top: 0;
      transform: translateY(-50%);
      transition-duration: ($duration * 4);
    }

    &::after {
      bottom: 0;
      transform: translateY(50%);
      transition-duration: ($duration * 5);
      transition-delay: ($duration / 2);
    }
  }
}

.tabs-tarifs__link {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  color: $base-color;
  transition: $duration;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover {
    filter: brightness(120%);
  }
}

.tabs-tarifs__item:first-child .tabs-tarifs__link {
  border-radius: 100px 0 0 100px;
}

.tabs-tarifs__item:last-child .tabs-tarifs__link {
  border-radius: 0 100px 100px 0;
}

.active .tabs-tarifs__link {
  color: $accent-color;
  cursor: default;
}

.tabs-tarifs__item:nth-child(1).active ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 10%;
  }

  &::after {
    left: 11%;
  }
}

.tabs-tarifs__item:nth-child(2).active ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 32%;
  }

  &::after {
    left: 29%;
  }
}

.tabs-tarifs__item:nth-child(3).active ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 53%;
  }

  &::after {
    left: 50%;
  }
}

.tabs-tarifs__item:nth-child(4).active ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 71%;
  }

  &::after {
    left: 68%;
  }
}

.tabs-tarifs__item:nth-child(5).active:last-child {
  &::before {
    left: 90%;
  }

  &::after {
    left: 93%;
  }
}

.tabs-tarifs__item:nth-child(1):hover ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 10%;
  }

  &::after {
    left: 11%;
  }
}

.tabs-tarifs__item:nth-child(2):hover ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 32%;
  }

  &::after {
    left: 29%;
  }
}

.tabs-tarifs__item:nth-child(3):hover ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 53%;
  }

  &::after {
    left: 50%;
  }
}

.tabs-tarifs__item:nth-child(4):hover ~ .tabs-tarifs__item:last-child {
  &::before {
    left: 71%;
  }

  &::after {
    left: 68%;
  }
}

.tabs-tarifs__item:nth-child(5):hover.tabs-tarifs__item:last-child {
  &::before {
    left: 90%;
  }

  &::after {
    left: 93%;
  }
}



.tabs-tarifs__icon {
  max-width: 100%;
  height: auto;
  fill: currentColor;

  @include media-breakpoint-down(xs) {
    width: rem(48px);
  }
}

.tabs-tarifs__label {
  display: block;
}

.tabs-tarifs__pane {
  @include media-breakpoint-up(lg) {
    padding-left: rem($grid-gutter-width);
    padding-right: rem($grid-gutter-width);
  }
}
