.tarifs-output {
}

.tarifs-output__notice {
  position: relative;
  padding: rem(8);
  padding-left: rem(65);
  margin-bottom: rem(20);
  font-weight: 700;
  font-size: rem($font-size--smaller);
  background-color: $gray-color-245;
  border-radius: $border-radius;

  &::before {
    content: "";
    position: absolute;
    width: rem(18);
    height: rem(18);
    background: url("images/info.svg") no-repeat center / contain;
    transform: translateX(calc(-100% - 14px));
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.tarifs-output__table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem($grid-gutter-width);
  font-size: rem($font-size--smaller);
  line-height: 1.2;

  @include media-breakpoint-up(lg) {
    margin-left: 1rem;
  }
}

.tarifs-output__column {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(sm) {
    width: auto;
    margin-bottom: 0;
  }
}

.tarifs-output__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    display: block;
    margin-bottom: rem(20);
  }
}

.tarifs-output__label {
  display: block;
  width: 50%;
  padding-right: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
  box-sizing: border-box;

  @include media-breakpoint-up(sm) {
    width: auto;
    padding-right: 0;
    text-align: left;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.tarifs-output__value {
  display: flex;
  align-items: baseline;
  width: 50%;
  font-weight: 300;
  font-size: rem(28);
  letter-spacing: 0;

  @include media-breakpoint-up(sm) {
    width: auto;
    font-size: rem(32);
  }

  @include media-breakpoint-up(md) {
    font-size: rem(40);
  }
}

.tarifs-output__value-unit {
  margin-left: 0.1em;

  @include media-breakpoint-up(md) {
    margin-left: 0;
    font-size: rem(24);
  }
}

.tarifs-output__item--accent .tarifs-output__value {
  color: $accent-color;
}
