.tarifs-filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: rem($grid-gutter-width * 1);

  &:empty {
    display: none;
  }

  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
    margin-bottom: rem($grid-gutter-width * 2.5);
  }
}

.tarifs-filter__list {
  @include clear-list();

  margin-right: 2vw;
  font-weight: 500;
  font-size: rem($font-size--smaller);
  font-family: $secondary-font;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 3vw;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    margin-right: 4.3vw;
  }
}

.tarifs-filter__item {
  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    pointer-events: none;
  }

  @include media-breakpoint-up(sm) {
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-right: 0;
  }
}

.tarifs-filter__link {
  display: flex;
  align-items: center;
  color: $gray-color-184;
  transition: $duration;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.tarifs-filter__item--active .tarifs-filter__link {
  color: $accent-color;
  cursor: default;
}

.tarifs-filter__icon {
  fill: currentColor;
  margin-right: 0.8em;
}

.tarifs-filter__label {
  @include dotted-link();

  color: $gray-color-184;
}

.tarifs-filter__item--active .tarifs-filter__label {
  color: $accent-color;
  background-image: none;
}

.tarifs-filter__link:hover .tarifs-filter__label,
.tarifs-filter__link:focus .tarifs-filter__label {
  color: $accent-color;
}
