.welcome-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  box-sizing: border-box;

  @include media-breakpoint-down(sm) {
    padding-bottom: 2vh;
  }

  @media (max-height: 567px) {
    padding-bottom: 10px;
  }
}

.welcome-screen__overlay {

}

.welcome-screen__header {

}

.welcome-screen__slider {
  @include make-container();

  position: relative;
  margin: auto;
  // margin-top: 10.5vh;
}

.welcome-screen__pointer {
  position: absolute;
  bottom: 3.5vh;
  left: 0;
  right: 0;
  width: rem(24);
  margin: auto;
  cursor: pointer;
  transition: filter $duration;

  &:hover {
    // border-color: $accent-color;
    filter: brightness(120%);
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.welcome-screen__pointer-mouse {
  position: relative;
  display: block;
  width: 100%;
  height: rem(41);
  margin: auto;
  border: 2px solid $accent-color;
  border-radius: 18px / 20px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    height: 30%;
    width: 2px;
    background-color: $accent-color;
    margin: auto;
  }
}

.welcome-screen__pointer-arrow {
  position: relative;
  display: block;
  width: 100%;
  animation: arrow-anim 1.5s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: rem(10);
    height: rem(10);
    margin: auto;
    border: 2px solid $accent-color;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
  }
}

@keyframes arrow-anim {
  100% {
    transform: translateY(0.8rem);
    opacity: 0;
  }
}
