.welcome-slider {

  .slick-list {
    box-shadow: $box-shadow;
  }

  .slick-track {
    display: flex;

    &::before,
    &::after {
      content: none;
    }
  }

  .slick-arrow {
    box-shadow: $box-shadow;
  }

  &.slick-initialized .welcome-slider__item {
    display: flex;
    height: auto;
  }

  @include media-breakpoint-down(xs) {
    .slick-arrow {
      top: calc(30vh - 25px);
      bottom: auto;
    }
  }

  @include media-breakpoint-up(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.welcome-slider__item {
  position: relative;
  background-color: $gray-color-245;
  border-radius: $border-radius;
  overflow: hidden;

  @include media-breakpoint-down(xs) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.welcome-slider__item-image {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media-breakpoint-down(xs) {
    height: 30vh;
  }

  @include media-breakpoint-up(sm) {
    flex: none;
    width: 50%;
  }
}

.welcome-slider__item-body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 6.25vmin;
  box-sizing: border-box;

  @include media-breakpoint-down(xs) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  @include media-breakpoint-up(sm) {
    flex: none;
    width: 50%;
    padding-right: rem(50);
  }
}

.welcome-slider__item-label {
  position: absolute;
  left: 50%;
  background-color: $gray-color-245;
  padding: rem(5) rem(6);
  font-weight: 600;
  font-size: rem(10);
  text-align: center;
  border: 1px solid;
  text-transform: uppercase;
  border-radius: $border-radius;

  @include media-breakpoint-down(xs) {
    top: 2vh;
    transform: translateX(-50%);
  }

  @include media-breakpoint-up(sm) {
    margin-left: 6.25vmin;
    margin-top: 6.25vmin;
  }
}

.welcome-slider__item-label-text {

}

.welcome-slider__item--type-promo .welcome-slider__item-label {
  color: $accent-color;
}

.welcome-slider__item--type-news .welcome-slider__item-label {
  color: #11CBD7;
}

.welcome-slider__item-cation {
  margin-top: 1vh;
  margin-bottom: 3.8vh;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: rem(31);
  line-height: 1.2;
  text-transform: uppercase;
  color: $accent-color-2;

  @include media-breakpoint-up(sm) {
    font-size: rem(33);
    margin-top: 12vh;
  }
  @include media-breakpoint-up(md) {
    font-size: rem(36);
  }
}

.welcome-slider__item-text {
  margin-bottom: 8.75vh;

  & > :last-child {
    margin-bottom: 0;
  }
}

.welcome-slider__item-more {
  display: flex;
  align-items: center;
  margin-top: auto;

  @include media-breakpoint-up(sm) {
    align-self: flex-end;
  }
}

.welcome-slider__item-more-link {

}

.welcome-slider__item-more-icon {
  vertical-align: middle;
  fill: currentColor;
}
