.welcome-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.welcome-screen__overlay {

}

.welcome-screen__header {

}

.welcome-screen__slider {
  @include make-container();

  position: relative;
  margin: auto;
  // margin-top: 10.5vh;
}

.welcome-screen__pointer {
  position: absolute;
  bottom: 3.5vh;
  left: 0;
  right: 0;
  width: rem(24);
  height: rem(41);
  margin: auto;
  border: 2px solid $accent-color;
  border-radius: 11px / 20px;
  cursor: pointer;
  transition: $duration;

  &:hover {
    border-color: $accent-color;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
